

header{
   
    background-color: cornflowerblue;
    
    }



.logo{
    height: 35px;
    padding: 5px;
    }

.img1{
    height: 30px;
    }

.img2{
    height: 30px; 
    padding: 4px;
    width: 30px;
    border-radius: 50%;
    background-size: cover;
    }

body{
    background-color: aliceblue;
    }

.menu{
    background-color: aqua;
    text-align: center;
    }

#font{
    text-decoration-color: blueviolet
}

.modal-header{
    background-image: linear-gradient( #5a95e2, #519ad6);  
}

.has-error{
    color: red;
    }

.has-success{
    color: green
    }
