<body>

    <app-admintop></app-admintop><br><br><br><br>
      
    <div class="container emp-profile">
        <form method="POST">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src = "../../../../../assets/img/Admin.png" alt=""/>
                        
                            
                            
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                                <h5>
                                     {{user}}
                                </h5>
                                <h6>
                                   Admin
                                </h6>
                                
                        
                    </div>
                </div>
                <div class="col-md-2">
                  <!-- <a class="badge badge-secondary" value="Edit Profile" href="  " routerLink="/editadminprof" >Edit Profile</a> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    
                </div>
                <div class="col-md-8" class="valuecolor">  
                 
                        <div class="row" >
                            <div class="col">
                                <label>User Name</label>
                            </div>
                            <p>{{userdetails.username}}</p> 
                        </div>

                        <div class="row" >
                            <div class="col">
                                <label>E mail</label>
                            </div>
                            <p>{{userdetails.email}}</p> 
                        </div>

                        <!-- <div class="row" >
                            <div class="col">
                                <label>E mail</label>
                            </div>
                            <p>email</p> 
                        </div>

                        <div class="row" >
                            <div class="col">
                                <label>Date of Birth</label>
                            </div>
                            <p>dob</p> 
                        </div>

                        <div class="row" >
                            <div class="col">
                                <label>Qulaification</label>
                            </div>
                            <p>quality</p> 
                        </div>

                        <div class="row" >
                            <div class="col">
                                <label>Address</label>
                            </div>
                            <p>address</p> 
                        </div> -->

                       
                   

                      
                       
                    
                </div>
            </div>       
         <hr>
        </form>  
        
        
    </div>
    
    
    
    
    
    
    
    
    
                  
    <app-footeral></app-footeral>       
    </body>