

header{
   
    background-color: cornflowerblue;
    
    }

.logo{
    height: 35px;
    padding: 5px;
}

.img2{
    height: 30px;
    padding: 4px;
    width: 30px;
    border-radius: 50%;
    background-size: cover;
    
    }

body{
    background-color: aliceblue;
    }

.menu{
    background-color: aqua;
    text-align: center;
    }

#font{
    text-decoration-color: blueviolet
}

.fbgcolor{
    background-color: rgb(224, 235, 245);
    margin-top: 40px;
    margin-left: 170px;
    margin-right: 170px;
    padding-top: 30px;
    padding: 30px;
    border-radius: 20px
   
    }

.modal-header{
        background-image: linear-gradient( #5a95e2, #519ad6);  
    }
    
.has-error{
    color: red;
    }

.has-success{
    color: green
    }
    