<app-parenttop></app-parenttop>

<body>
<br><br><br><br>


           
<h2 style="text-align: center">Messages</h2><br>


    <div *ngFor="let ml of messagelist">

        <div style="padding-left: 240px;padding-right: 240px">
            
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                
                    <span class="row" style="padding: 10px;">
                        <img class="img-thumbnail img1" src="assets\img\Studentinfo.jpg">
                        <span class="studentName" style="padding-left: 20px">
                            <div class="row">
                                <div class="col-sm">
                                <p></p>
                                {{ml.sender}}   
                                </div> 
                            </div>
                            <hr>
                            <div class="row" style="-webkit-text-fill-color: blue;">
                                <div class="col-sm">
                                {{ml.message}}  
                                </div> 
                            </div>
                            <hr>

                        </span>

                        
                    </span>
                   
                    <span class="studentName" style="padding-left: 20px">
                            <div class="row">
                                <div class="col-sm">
                                <hr>
                                {{ml.time}}<br>
                                {{ml.date}}

                                <hr>
                                
                                </div> 
                            </div>
                            
                           

                        </span>
                    
                   
                    

                    
                </li>

                
                
            </ul>

            
            
                


                
        </div>
    
    </div>





           




        
    

<app-footeral></app-footeral>
</body>
