hr{
    margin: 0 0 0 0;
    border-color: rgb(160, 214, 201);
    margin-left: 45px;
    margin-right: 45px;
    
}

h3 {
  
    text-align: center;
}

p{
    text-align: center;
}

body{
    margin-top: 40px;
    background-color: aliceblue;
    text-align: center;
    height: 100px;
}