
<body>

        <div class="fixed-top">
                <header>
                      <img class="logo"  src="assets\img\Logo.png"> 
                </header>
               
                <nav class="nav nav-pills nav-fill " style="background-color: powderblue;">
                    <a class="nav-item nav-link" data-toggle="pill" routerLink="/teachstudlist" ><div  style="margin: 0px 60px 0px 60px"><b>Student List<img style="margin-left: 25px;" class="img1" src="\assets\img\Studentinfo.jpg"></b></div></a>
                    <a class="nav-item nav-link" data-toggle="pill" routerLink="/teachcheck"  ><div  style="margin: 0px 60px 0px 60px"><b>Attendance Mark<img style="margin-left: 25px;" class="img1" src="\assets\img\Check.png" ></b></div></a>
                    <a class="nav-item nav-link" data-toggle="pill" routerLink="/teachgallery" ><div  style="margin: 0px 60px 0px 60px"><b>Gallery<img style="margin-left: 25px;" class="img1" src="\assets\img\Gallery.jpg"></b></div></a>
                    <a class="nav-item nav-link" data-toggle="pill" routerLink="/teachmessage"><div  style="margin: 0px 60px 0px 60px"><b>Message<img style="margin-left: 25px;" class="img1" src="\assets\img\Message.png"></b></div></a>
            
                    <li class="nav-item dropdown" >
                      <a href="none" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img  class="img2" [src] = ImageUrl>
                        <b style="margin-right: 20px;padding-left: 10px">{{userName}} </b>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right dropdown-default"
                      aria-labelledby="navbarDropdownMenuLink-333" >
                        <a class="dropdown-item" routerLink="/teachregstudent">New Student</a>
                        <a class="dropdown-item" routerLink="/teachmedsform" style="-webkit-text-fill-color: rgb(248, 150, 133)">Medical form</a>
                        <a class="dropdown-item" routerLink="/teachprofile">My Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="" (click)="Logout()">Log out</a>
                      </div>
                    </li>     
            
                </nav>
              </div>





   




</body>